/* *************************************Container para todo o site *********************************************/
.site-container {
  flex: auto;
  border: 4px solid #00ff00;
  padding: 0px;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #333;
  justify-content: space-between;
  transition: width 0.3s ease;
}

.full-height {
  min-height: 52vh;
  padding: 0px;
  background-color: #333;
  color: #333;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

section {
  padding: 0px;
  background-color: #333;
  color: #fff;
  margin-bottom: 20px;
  flex-grow: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************************* Cabeçalho ***************************************************************/

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 18px 20px;
  background-color: #222;
  border-bottom: 1px solid #333;
  box-sizing: border-box;
  width: 100%;
  flex-wrap: wrap;
}

header .logo {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

nav ul li {
  margin-right: 20px;
  flex-wrap: wrap;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
  white-space: nowrap;
  flex-wrap: wrap;
}

nav ul li a:hover {
  color: #00ff00;
}

.search-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.search-bar input {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #333;
  color: #fff;
}

.search-bar button {
  padding: 5px 10px;
  margin-left: 10px;
  background-color: #00ff00;
  border: none;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
}

.search-bar button:hover {
  background-color: #666;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 10px;
  }

  nav ul {
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
  }

  nav ul li {
    margin-right: 0;
    padding: 10px;
    margin-bottom: 10px;
  }

  .search-bar {
    width: 100%;
    margin-top: 10px;
  }

  .search-bar input {
    width: calc(100% - 120px);
  }

  .search-bar button {
    width: 100px;
  }
}

/* ----------------------------------------Estilos gerais do corpo-----------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #fff;
  font-family: Arial, sans-serif;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/*---------------------------------------Seções de conteúdo---------------------------------------------------- */
.content-section {
  display: none;
}

.content-section h1 {
  color: #fff;
  margin-bottom: 10px;
}

.content-section p {
  color: #ccc;
}

.content-section.active {
  display: block;
}

.main-container {
  display: flex;
  width: 100%;
}

.content-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.content-section {
  display: none;
}

.content-section h1 {
  color: #fff;
  margin-bottom: 10px;
}

.content-section p {
  color: #ccc;
}

.content-section.active {
  display: block;
}

/********************************************seção sobre *******************************************************/
#about {
  text-align: center;
  padding: 20px;
}

#about h1,
#about p {
  margin-bottom: 40px; /* Espaçamento entre o título, parágrafo e tópicos */
}

.topic-item {
  margin-bottom: 50px; /* Espaço entre os tópicos */
  text-align: left;
}

.topic-icon {
  display: block; /* Garante que a imagem seja tratada como um bloco */
  margin: 0 auto; /* Centraliza horizontalmente */
}
/* Esconder a imagem móvel por padrão */
.mobile-icon {
  display: none;
}
.topic-description h2 {
  margin-bottom: 10px;
}

.topic-description p {
  margin-bottom: 20px;
}

/* Estilização para os ícones abaixo de cada descrição */
.icon-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha os ícones e descrições à esquerda */
  margin-left: 118px; /* Espaçamento à esquerda para o bloco dos ícones */
}

.icon-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Espaço entre os ícones */
}

.icon-item img {
  width: 40px;
  height: auto;
  margin-right: 10px; /* Espaço entre o ícone e a descrição */
}

.icon-item p {
  margin: 0;
}

@media (max-width: 768px) {
  .icon-list {
    align-items: center; /* Centraliza os ícones em telas menores */
  }

  .icon-item {
    justify-content: center;
  }

  .topic-item {
    text-align: center; /* Centraliza os tópicos em telas menores */
  }
  .desktop-icon {
    display: none; /* Esconde a imagem do desktop em dispositivos móveis */
  }
  .mobile-icon {
    display: block; /* Mostra a imagem móvel */
    max-width: 100%; /* Limita a largura para garantir que ela fique dentro do container */
    height: auto; /* Mantém a proporção correta */
    margin-left: auto; /* Centraliza a imagem horizontalmente */
    margin-right: auto; /* Centraliza a imagem horizontalmente */
  }
}

/*-------------------- Divisão da Seção Home em duas partes (esquerda e direita)------------------------------- */
.home-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  text-align: center;
}

.home-left,
.home-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.home-left {
  flex: 1 1 60%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #222;
  border-radius: 10px;
  justify-content: flex-start;
}

.home-right {
  flex: 1 1 40%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-left: 20px;
  justify-content: flex-start;
  background-color: #222;
  border-radius: 13px;
}

.home-right > div {
  flex: 1;
  padding: 10px;
}

.home-right > div:last-child {
  border-bottom: none;
}

.home-right h2 {
  color: #00ff00;
}

.home-right p {
  color: #ccc;
}

@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
  }

  .home-left,
  .home-right {
    flex: 1 1 100%;
    padding: 0;
    margin: 0;
  }

  .home-right {
    margin-top: 40px;
  }

  .site-container.expanded {
    width: 110%;
  }
}

/*-------------------------------------Lado esquerdo-------------------------------------------------------------*/

.main-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.roadmap-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.button-container {
  position: absolute;
}

.roadmap-image {
  width: auto;
  height: auto;
  object-fit: contain;
}

.topic-button {
  width: 224px;
  height: 41px;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  color: rgb(7, 7, 7);
  background-color: #00ff00;
  border: 1px solid #ffffff;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
  text-align: center;
  z-index: 5;
}
.topic-button:hover,
.topic-button:focus {
  background-color: #666;
  color: #ffffff;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.topic-button:hover {
  background-color: #666;
  color: #ffffff;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #4a4d4a;
  border: 1px solid #000000;
  border-radius: 14px;
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 100;
  padding: 10px;
}

.menu-image img {
  display: block;
  max-width: none;
  height: none;
  position: relative;
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu ul li {
  margin-bottom: 10px;
}

.dropdown-button:hover {
  background-color: #0056b3;
}

.dropdown-menu.show {
  display: block;
}

.menu-button-container {
  position: absolute;
}

.menu-button {
  width: 504px;
  height: 71.5px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(7, 7, 7);
  background-color: #00ff00;
  border: 1px solid #000000;
  border-radius: 17px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 5px;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

.menu-button:hover,
.menu-button:focus {
  background-color: #666;
  color: #ffffff;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.menu-button:hover {
  background-color: #666;
  color: #ffffff;
}

.menu-button:active {
  color: #ffffff;
}

.topic-button.active {
  background-color: #161616;
  color: white;
  border: 1.5px solid #00ff00;
}

@media screen and (max-width: 768px) {
  .home-right {
    background-color: transparent;
  }

  .roadmap-container {
    height: auto;
  }

  .roadmap-image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .topic-button {
    width: 120px;
    height: 20px;
    font-size: 10px;
    border-radius: 3px;
  }

  .menu-image {
    display: none;
  }

  .topic-button.active {
    background-color: #161616;
    color: white;
    border: 1.5px solid #00ff00;
  }

  .topic-button:hover {
    background-color: #666;
    color: #ffffff;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #4a4d4a;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 190px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 100;
    padding: 10px;
  }

  .dropdown-menu.show {
    display: block;
  }

  .menu-button {
    width: 180px;
    height: 28px;
    font-size: 9px;
    font-weight: bold;
    color: rgb(7, 7, 7);
    background-color: #00ff00;
    border: 1px solid #000000;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
    transition: background-color 0.3s;
  }

  .dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .dropdown-menu ul li {
    margin-bottom: 5px;
  }

  .menu-button:hover {
    background-color: #555;
  }

  .menu-button-container {
    position: relative;
    left: 0 !important;
  }

  .site-container.expanded {
    width: 108%;
  }

  .topic-button:active {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
  .menu-button:active {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
}

/*----------------------------------------------Lado direito-seção3--------------------------------------------*/
.section-1,
.section-2,
.section-3 {
  margin-bottom: 40px;
}

/*----------------------------------------------Seção 1---------------------------------------------------------*/

.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222;
  border-radius: 12px;
  color: white;
  padding: 20px;
}

.section-title {
  font-size: 40px;
  color: #00ff00;
  margin-bottom: 20px;
}

.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  margin-bottom: 14px;
}

.progress-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 20px solid #00ff00;
  cursor: pointer;
}

.progress-inner-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 15px solid #313d31;
  position: relative;
}

.progress-text {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.progress-circle {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.progress-circle:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px 10px rgba(0, 255, 0, 0.7);
}

.progress-inner-circle {
  transition: transform 0.3s ease;
}

.progress-circle:hover .progress-inner-circle {
  transform: scale(1.1);
}
.progress-container {
  transition: opacity 0.3s ease;
}
.progress-container.hidden {
  opacity: 0;
  pointer-events: none;
}
.progress-container.hidden {
  opacity: 0;
  pointer-events: none;
}
.topics-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222;
  padding: 0px;
  border-radius: 12px;
  width: 100%;
  max-width: 700px;
  color: white;
  margin-top: -230px;
  z-index: 1;
}
.topics-menu.open {
  display: flex;
}

.topic-progress {
  position: relative;
  width: 100%;
  margin: 0px 0;
}

.progress-bar-container {
  display: flex;
  align-items: center;
  height: 37px;
  width: 100%;
  background-color: #7c7777;
  border-radius: 4px;
  position: relative;
  border: 2px solid #000000;
}

.progress-bar {
  height: 100%;
  background-color: #00ff00;
  width: 0;
  border-radius: 4px;
  transition: width 0.3s ease;
}

.progress-percentage {
  position: absolute;
  left: 10px;
  color: #000;
  font-size: 17px;
  font-weight: bold;
}

.topic-name {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
}

.topic-progress:hover {
  transform: scale(1.05);
}
.progress-bar-container:hover {
  box-shadow: 0px 0px 15px 5px rgba(247, 248, 247, 0.5);
}
.progress-bar-container:hover .progress-bar {
  background-color: #32cd32;
}

@media (max-width: 768px) {
  .progress-circle:active {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 10px rgba(0, 255, 0, 0.7);
    .progress-bar-container:active {
      transform: scale(1.05);
      box-shadow: 0px 0px 15px 5px rgba(0, 255, 0, 0.5);
    }
  }
}
/********************************************* Seção 3 **********************************************************/
.section-contact {
  text-align: center;
  padding: 20px;
  background-color: #222;
  border-radius: 12px;
  color: white;
  margin-top: 30px;
}

.section-contact .section-title {
  font-size: 30px;
  margin-bottom: 20px;
  color: #00ff00;
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact-icon img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.contact-icon img:hover {
  transform: scale(1.1);
}

/************************************ Estilos da Seção 2 ******************************************************/

.section-3 {
  background-color: #222;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  box-sizing: border-box;
  width: 100%;
}

.computer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  margin-top: 50px;
}

.monitor {
  width: 300px;
  height: 200px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgb(255, 254, 254);
  position: relative;
  border: 2px solid #ffffff;
}

.screen {
  width: 90%;
  height: 85%;
  background-color: #444141;
  margin: 10px auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #00ff00;
  border-radius: 5px;
}

.lock-icon {
  width: 60px;
  height: 60px;
  position: relative;
  background-color: #00ff00;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  opacity: 0;
  animation: appear 2s forwards 1s;
}

.lock-icon::before {
  content: "";
  position: absolute;
  top: -35px;
  left: 10px;
  width: 30px;
  height: 40px;
  border: 5px solid #00ff00;
  border-radius: 20px 20px 0 0;
  background-color: transparent;
}

.base {
  width: 180px;
  height: 20px;
  background-color: #444;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ffffff;
}

@keyframes appear-disappear {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  25% {
    transform: scale(1);
    opacity: 1;
  }

  75% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.lock-icon {
  width: 60px;
  height: 60px;
  position: relative;
  background-color: #00ff00;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  opacity: 0;
  animation: appear-disappear 10s infinite;
}

.animation_text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
}

.animated-text {
  color: #00ff00;
  font-size: 24px;
  font-weight: bold;
  opacity: 0;
  animation: fadeInOut 10s infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/**************************************************************Fim do Corpo**********************************************************************/

/************************************************************Rodappé*****************************************************************************/
.footer {
  background-color: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  position: relative;
  border-top: 0.5px solid #413f3f;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-section h2 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section a {
  color: #00ff00;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1px;
  margin-bottom: 0px;
}

.footer-title {
  flex: 1 1 25%;
  text-align: center;
  margin-bottom: 0;
}

.footer-title h1 {
  font-size: 36px;
  margin: 0;
  color: #00ff00;
}

.footer-section {
  flex: 1 1 100%;
  padding: 0px;
  text-align: center;
}

.footer-section:last-of-type {
  flex: 1 1 1%;
  padding: 0px;
  text-align: center;
}

.footer-back-to-top {
  flex: 0 0 1%;
  text-align: right;
  padding: 0px;
}

.back-to-top-container {
  display: flex;
  justify-content: center;
}

.back-to-top img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.back-to-top {
  display: block;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  cursor: pointer;
}

.back-to-top img:hover {
  opacity: 0.8;
}

.back-to-top:active img {
  filter: brightness(50%);
  transition: filter 0.2s;
}

.back-to-top img:hover {
  filter: brightness(80%);
  transition: filter 0.2s;
}

.footer-section h2 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 7px;
}

.footer-section ul li a {
  color: #00ff00;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

/*  ***************************************Dispositivos moveis *************************************************/
@media (max-width: 768px) {
  .footer-content {
    flex-wrap: wrap;
    gap: 10px;
  }

  .footer-section,
  .footer-title,
  .footer-back-to-top {
    flex: 1 1 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-back-to-top {
    text-align: center;
  }
}

/***********************Dispositivos landscape *******************************************************************/
@media (orientation: landscape) and (max-height: 500px) {
  .site-container {
    width: 160%;
  }
  header {
    width: 100%;
  }
}
